.modalBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.336);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.createGroupModal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #708993;
  border: 3px solid #aed1cc;
  border-radius: 15px;
  padding: 2rem 1rem;
  max-width: 400px;
  animation: .5s openModal ease-out forwards;
}

.createGroupCloseBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  font-family: "Recursive", sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.createGroupModalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formLabels {
  font-size: 1.2rem;
}

.modalLabelInputCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.groupNameInput {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  color: black;
}



.btnsCont {
  display: flex;
}

.createGroupBtn {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  color: black;
  padding: .5rem 1rem;
  border-radius: 15px;
  border: 3px solid white;
  background-color: #6559a2;
  transition: .3s background-color ease-out;
}


.createGroupBtnPara {
  transition: .3s color ease-out;

}

.createGroupBtnIcon {
  transition: .3s filter ease-out;

}

.createGroupBtn:hover {
  background-color: white;
}

.createGroupBtn:hover .createGroupBtnPara {
  color: black;
}

.createGroupBtn:hover .createGroupBtnIcon {
  filter: brightness(0%);
}




@keyframes openModal {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
  }
}