.directMessagePage {
  display: grid;
  grid-template-columns: 3fr minmax(550px, 5fr) 3fr;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #212121, #000000);
  align-items: end;
  padding-bottom: 1rem;
}

.navbarCont {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  align-self: stretch;
}

.sidebarBtn {
  display: none;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: end;
  margin: 1rem 0;
  padding: none;
}
.sidebarBtn, .innerSidebarBtn {
  cursor: pointer;

  background-color: #708993;
  padding: .5rem 1rem;
  border-radius: 7px;
}

.innerSidebarBtn {
  align-self: flex-start;
  border: none;
  background-color: transparent;
  padding: none;
  border: 3px solid #708993;
  transition: .5s border ease-out;
}

.innerSidebarBtn:hover {
  border: 3px solid rgb(136, 159, 168);
}

.directMessageMain {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;

  padding: 0.5rem 0;
}


.groupMemberSidebarBackground {
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
  z-index: 200;
  overflow: hidden;
}

.groupMemberListSidebar {
  position: relative;
  justify-self: end;
  background-color: #647981;
  height: 100%;
  width: 100%;
  max-width: 350px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: .5s slideIn ease-out forwards;
}

.toggleCloseSidebar {
  animation: .5s slideOut ease-out forwards;

}


.groupMembersCont {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
  padding: 1rem .5rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;
}

.messageFormCont {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: rgb(41, 41, 41); */

}

/* @media (max-width: 1200px) {
  .directMessagePage {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .navbarCont {
    grid-column: 1 / 2;
  }

  .directMessageMain 
 {
    grid-column: 1 / 2;

  }

  .messageFormCont {
    grid-column: 1 / 2;
  }
} */

@keyframes  slideIn {
  from {
    transform: translateX(+100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;

    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(+100%);
  }
}


@media (max-width: 900px) {
  .directMessagePage {
    grid-template-rows: 1fr 1fr 10fr 1fr;
    
  }

  .sidebarBtn {
    display: block;
  }

  .directMessageMain {
    grid-row: 3 / 4;
  }

  .groupMembersCont {
    display: none;
  }

   .messageFormCont {
    grid-row: 5 / 6;
  }
}

@media (max-width: 550px) {
  .directMessagePage {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .groupMemberListSidebar {
    width: 100%;
    max-width: none;
  }




  .navbarCont {
    grid-column: 1 / 2;
  }

  .sidebarBtn {
    display: block;
    grid-column: 1/ 2;
    margin-right: 1rem;

  }

  .directMessageMain {
    grid-column: 1 / 2;

  }

  .messageFormCont {
    grid-column: 1 / 2;
  }

  .groupMembersCont {
    display: none;
  }
}


