.editInputForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-column: 1 / 3;
  margin: 0 auto;
}

.labelAndInputCont {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.groupNameInput {
  color: black;
  border-radius: 15px;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
}

.updateBtn {
  align-self: flex-end;

  font-size: 1rem;
  font-family: "Recursive", sans-serif;
  background-color: #a1c2bd;
  border: none;
  border-radius: 15px;
  padding: .5rem 1rem;
  cursor: pointer;
  width: min-content;
  height: min-content;
}

@media (min-width: 300px) {
  .editInputForm {
    flex-direction: column;
    gap: .5rem;
  }

  .updateBtn {
    width: 100%;
    height: 100%;
  }
}