.friendListUlCont {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 0;
  gap: 1rem;
}

.friendListLiCont {
  background-color: #6559a2;
  border: 3px solid #beb8d5;
  display: flex;
  align-items: center;
  gap: .7rem;
  padding: .5rem 1rem;
  border-radius: 15px;
  transition: .4s scale ease-out, .4s box-shadow ease-out;
  cursor: pointer;
}

.friendListLiCont:hover, .friendListLiCont:focus {
  scale: 1.01;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}

.friendListHeading {
  margin-bottom: 1rem;
  text-align: center;
}

.noFriendsParaCont {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

.friendProfileImg {
  border-radius: 50%;
  border: 2px solid black;
  background-color: black;
  transition: .5s border ease-out;
}

.friendProfileImg:hover {
  border: 2px solid #a1c2bd;
}
