.groupMembersListCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.memberUls {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.memberLis {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 15px;
  max-width: 200px;

  background-color: #6559a2;
  border: 3px solid #beb8d5;

}

.memberProfileImg {
  border-radius: 50%;
  border: 2px solid black;
  background-color: black;
}

.adminCrownIcon {
}

@media (max-width: 1000px) {

  .memberLis {
    width: 100%;
    max-width: none;
  }

  .groupMemberHeaders {
    text-align: center;
  }
  .memberUls {
    width: 100%;
  }

}