.groupChatMainCont {
  display: grid;
  grid-template-columns: 3fr minmax(550px, 5fr) 3fr;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #212121, #000000);
  align-items: end;
  padding-bottom: 1rem;
}

.navbarCont {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  align-self: stretch;
}

.groupChatMsgsCont {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;

  padding: 0.5rem 0;
}

.loadingIcon {
  position: relative;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
}

.msgFormCont {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: rgb(41, 41, 41); */

}

.msgFormErrBackground {
  position: fixed;

  height: 100%;
  width: 100%;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.548);
}

.msgFormErrorCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 1rem;
  background-color: #708993;
  border-radius: 15px;
  border: 3px solid #aed1cc;
  max-width: 400px;
  text-align: center;
  animation: .5s openModal ease-out;
}

.msgFormErrorCont h3 {
  font-size: 1.5rem;
}

.exitErrMsgBtn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background-color: transparent;
  border: none;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.msgFormErrUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style-type: none;
  padding-left: 0;
}



.groupMembersCont {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
  padding: 1rem .5rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;
}

@media (max-width: 550px) {
  .groupChatMainCont {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .navbarCont {
    grid-column: 1 / 2;
  }

  .groupChatMsgsCont {
    grid-column: 1 / 2;

  }

  .msgFormCont {
    grid-column: 1 / 2;
  }

  .groupMembersCont {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: rotate(-360deg);
    opacity: 0;
  }
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}
