
.groupSettingsSidebarBackground {
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
  z-index: 200;
  overflow: hidden;
}

.groupSettingsSidebarCont {
  position: relative;
  justify-self: start;
  background-color: #647981;
  height: 100%;
  width: 100%;
  max-width: 350px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: .5s slideIn ease-out forwards;
}

.collapseSidebarBtnCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleCloseSidebar {
  animation: .5s slideOut ease-out forwards;

}

.optionsBtnsCont {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 900px) {

  .sidebarBtnsCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-width: 100vw;
  }

  .settingsAndChatSideImg {
  transform: rotate(180deg);
}

  .optsAndChatSidebar {
    display: none;
  }


}

@media (max-width: 550px) {


  .groupSettingsSidebarCont {
    width: 100%;
    max-width: none;
  }

}

@keyframes  slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;

    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}