.groupImgAndNameCont {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.groupImgAndNameCont img {
  background-color: black;
  border: 3px solid #a1c2bd;
  border-radius: 50%;
  align-self: flex-start;
}