.groupMembersListCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.memberUls {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.memberLis {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  background-color: #708993;
  padding: .5rem 1rem;
  border-radius: 15px;
  max-width: 200px;
  border: 3px solid #a1c2bd;

}

.memberProfileImg {
  border-radius: 50%;
  border: 2px solid black;
  background-color: black;
}

.adminCrownIcon {
}