.groupChatMainCont {
  display: grid;
  grid-template-columns: 3fr minmax(550px, 5fr) 3fr;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #212121, #000000);
  align-items: end;
  padding-bottom: 1rem;
}

.sidebarBtn {
  display: none;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: end;
  margin: 1rem 0;
  padding: none;
}
.sidebarBtn, .innerSidebarBtn {
  cursor: pointer;

  background-color: #708993;
  padding: .5rem 1rem;
  border-radius: 7px;
}

.innerSidebarBtn {
  align-self: flex-start;
  border: none;
  background-color: transparent;
  padding: none;
  border: 3px solid #708993;
  transition: .5s border ease-out;
}

.innerSidebarBtn:hover {
  border: 3px solid rgb(136, 159, 168);
}

.navbarCont {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  align-self: stretch;
}

.memberOptsModalBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.555);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.memberOptsModal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #708993;
  border: 3px solid #a1c2bd;
  max-width: 500px;
  padding: 2rem 1rem;
  border-radius: 15px;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;

}

.optionsModalUl {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.optionsModalLi {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  gap: .5rem;
  border-bottom: 1px solid white;
  padding: 1rem;
}



.questionAndProfileImg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.questionAndProfileImg img {
  background-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 .5rem;
}

.memberOptsBtn {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #a1c2bd;
  cursor: pointer;
  border: 3px solid #a1c2bd;
}

.removeMemberBtn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #a1c2bd;
  cursor: pointer;
  border: 3px solid #a1c2bd;
  transition: 0.3s background-color ease-out, 0.3s border ease-out;
}

.removeMemberBtn p {
  transition: 0.3s color ease-out;
}

.removeMemberBtn:hover p {
  color: black;
}




.removeMemberBtn {
  transition: .3s filter ease-out;

}

.memberOptsProfileImg {
  border: 3px solid black;
  box-sizing: content-box;
}

.removeMemberBtn:hover img {
  filter: brightness(0%);
}

.removeMemberBtn:hover img {
  filter: brightness(0%);

}

.removeMemberBtn:hover {
  background-color: red;
  border: 3px solid #080808;
}





.exitOptsBtn {
  position: absolute;
  right: .5rem;
  top: .5rem;
  background-color: transparent;
  border: none;

  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  cursor: pointer;

}

.groupMemberSidebarBackground {
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
  z-index: 200;
  overflow: hidden;
}

.groupMemberListSidebar {
  position: relative;
  justify-self: end;
  background-color: #647981;
  height: 100%;
  width: 100%;
  max-width: 350px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: .5s slideIn ease-out forwards;
}

.toggleCloseSidebar {
  animation: .5s slideOut ease-out forwards;

}

.groupChatMsgsCont {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;

  padding: 0.5rem 0;
}

.loadingIcon {
  position: relative;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
}

.msgFormCont {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: rgb(41, 41, 41); */

}

.groupMembersCont {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
  padding: 1rem .5rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;
}

@keyframes  slideIn {
  from {
    transform: translateX(+100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;

    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(+100%);
  }
}


@media (max-width: 900px) {
  .groupChatMainCont {
    grid-template-rows: 1fr 1fr 10fr 1fr;
    
  }

  .sidebarBtn {
    display: block;
  }

  .groupChatMsgsCont {
    grid-row: 3 / 4;
  }

  .groupMembersCont {
    display: none;
  }

   .msgFormCont {
    grid-row: 5 / 6;
  }
}

@media (max-width: 550px) {
  .groupChatMainCont {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .groupMemberListSidebar {
    width: 100%;
    max-width: none;
  }




  .navbarCont {
    grid-column: 1 / 2;
  }

  .sidebarBtn {
    display: block;
    grid-column: 1/ 2;
    margin-right: 1rem;

  }

  .groupChatMsgsCont {
    grid-column: 1 / 2;

  }

  .msgFormCont {
    grid-column: 1 / 2;
  }

  .groupMembersCont {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: rotate(-360deg);
    opacity: 0;
  }
}