.groupMembersListCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.memberUls {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

  .groupMemberHeaders {
    text-align: center;
  }

.memberLis {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  gap: .5rem;
  padding: .5rem 1rem;
  border-radius: 15px;
  max-width: 250px;
  background-color: #6559a2;
  border: 3px solid #beb8d5;

  transition: .4s scale ease-out, .4s box-shadow ease-out;
  position: relative;
}



.memberLis:hover, .memberLis:focus {
  scale: 1.01;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}



.imgLink {
  max-width: 25px;
  display: flex;
  align-items: center;
}

.memberLis Link {
  flex-grow: 1;
}

.imglinkAndName {
  display: flex;
  /* justify-content: stretch; */
  gap: .5rem;
  align-items: center;
  grid-column: 1 / 2;
}

.memberName {
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  max-width: 10ch;
  text-overflow: ellipsis;
}

.memberProfileImg {
  max-width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: black;
  transition: .5s border ease-out;

}



.memberProfileImg:hover {
  border: 2px solid #a1c2bd;
}

.adminCrownIcon {
}

.optionsBtn {
  justify-self: flex-end;
  cursor: pointer;
  grid-column:  2 / 3;
  /* position: absolute;
  right: -.7rem; */

}

@media (min-width: 1200px) {
  .groupMemberHeaders {
    text-align: start;
  }
  .memberUls {
      align-items: start;
  }
}

@media (max-width: 1200px) {
  .memberName {
    max-width: 10ch;
  }
}

@media (max-width: 1000px) {

  .memberName {
    max-width: 11ch;
  }
  

  .memberLis {
  }


  .memberUls {
    width: 100%;
  }

}

@media (max-width: 900px) {

  .memberUls {
    align-items: center;

  }
  .memberLis {
    width: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    max-width: 1000px;
    width: 100%;

  }

  .imglinkAndName {
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
  }

  .optionsBtn {
    grid-column: 3 / 4;
  }



  /* @media (max-width: 800px) {
    wd
  } */

}
/* 
@media (max-width: 900px) {
  .imglinkAndName {
    justify-content: start;
  }
} */