.groupChatMainCont {
  display: grid;
  grid-template-columns: 3fr minmax(550px, 5fr) 3fr;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #212121, #000000);
  align-items: end;
  padding-bottom: 1rem;
}

.sidebarBtn {
  display: none;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: end;
  margin: 1rem 0;
}
.sidebarBtn, .innerSidebarBtn {
  cursor: pointer;

  background-color: #708993;
  padding: .5rem 1rem;
  border-radius: 7px;
}

.innerSidebarBtn {
  align-self: flex-start;
}

.navbarCont {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  align-self: stretch;
}

.groupMemberSidebarBackground {
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
  z-index: 200;
}

.groupMemberListSidebar {
  position: relative;
  justify-self: end;
  background-color: #6559a2;
  height: 100%;
  width: 100%;
  max-width: 400px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.groupChatMsgsCont {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;

  padding: 0.5rem 0;
}

.loadingIcon {
  position: relative;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
}

.msgFormCont {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: rgb(41, 41, 41); */

}

.groupMembersCont {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
  padding: 1rem .5rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;
}

@media (max-width: 900px) {
  .groupChatMainCont {
    grid-template-rows: 1fr 1fr 10fr 1fr;
    
  }

  .sidebarBtn {
    display: block;
  }

  .groupChatMsgsCont {
    grid-row: 3 / 4;
  }

  .groupMembersCont {
    display: none;
  }

   .msgFormCont {
    grid-row: 5 / 6;
  }
}

@media (max-width: 550px) {
  .groupChatMainCont {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .navbarCont {
    grid-column: 1 / 2;
  }

  .sidebarBtn {
    display: block;
    grid-column: 1/ 2;
  }

  .groupChatMsgsCont {
    grid-column: 1 / 2;

  }

  .msgFormCont {
    grid-column: 1 / 2;
  }

  .groupMembersCont {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: rotate(-360deg);
    opacity: 0;
  }
}