
.chatMsgsUl {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.chatMsgsLi {
  border-bottom: 1px solid rgba(255, 255, 255, 0.37);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
  word-break: break-all;
}

.profileImgAndNameCont {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.chatProfileImg {
  border-radius: 50%;
  border: 3px solid #A1C2BD;
  cursor: pointer;
  background-color: black;
  width: 50px;
  height: 50px;
}

.chatProfileImg:hover {
  border: 3px solid #E7F2EF;
}

.chatMsgContent {
  text-align: start;
  white-space: pre-line;
  line-height: 1.5;
}

.msgImgCont {
  display: flex;
  justify-content: center;
  width: min-content;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.msgImg {
  height: 45vh;
  object-fit: contain;

}

@media (min-width: 1000px) {
  .msgImgCont {
    margin: 0;
  }
}