.groupLiCont {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid white;
  padding: .5rem 1rem;
  border-radius: 15px;
}

.groupImg {
  object-fit: contain;
  border: 1px solid white;
}