.sidebarBtn {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: end;
  margin: 1rem 0;
  padding: none;
}
.sidebarBtn {
  cursor: pointer;

  background-color: #708993;
  padding: .5rem 1rem;
  border-radius: 7px;
}

.sidebarBtn {
  align-self: flex-start;
  border: none;
  /* background-color: #708993;
  padding: none;
  border: 3px solid #708993; */
  background-color: #6559a2;
  border: 3px solid #978ec4;
  padding: none;
  transition: .5s border ease-out;
}

.sidebarBtn img {
  transform: rotate(180deg);
}
.sidebarBtn:hover {
  /* border: 3px solid rgb(136, 159, 168); */
  border: 3px solid #beb8d5;
}