.groupMembersListCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.memberUls {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.memberLis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 15px;
  max-width: 200px;
  background-color: #6559a2;
  border: 3px solid #beb8d5;

  transition: .4s scale ease-out, .4s box-shadow ease-out;

}



.memberLis:hover, .memberLis:focus {
  scale: 1.01;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}



.imgLink {
  max-width: 25px;
  display: flex;
  align-items: center;
}

.memberLis Link {
  flex-grow: 1;
}

.memberName {
  flex-grow: 0;
}

.memberProfileImg {
  max-width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: black;
}

.adminCrownIcon {
}

.optionsBtn {
  justify-self: flex-end;
  cursor: pointer;
}

@media (max-width: 1000px) {

  .memberLis {
    width: 100%;
    max-width: none;
  }

  .groupMemberHeaders {
    text-align: center;
  }
  .memberUls {
    width: 100%;
  }

}