.groupListSect {
  margin: 0 1rem;
}

.groupListHeading {
  margin-top: 1rem;
  text-align: center;
}

.groupHeadingAndNoGroupParaCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.groupsHeading {
  font-size: 1.1rem;
}

.noGroupsParaCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.groupsPara {

}

.groupUlCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.groupLiCont {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
  border-radius: 15px;
  border: 3px solid black;
  background-color: #708993;
  cursor: pointer;
}

.groupImg {
  object-fit: contain;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: black;
}