.inviteModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 400;
}

.inviteModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #708993;
  border: 3px solid #a1c2bd;
  max-width: 500px;
  padding: 2rem 1rem;
  border-radius: 15px;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  animation: .3s openModal ease-out forwards; 
}

.exitInviteBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  border: none;

  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}


.labelAndInputCont {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.inviteModalHeader {
  font-size: 1.4rem;
}

.inviteForm {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.friendCodeLabel {
  font-size: 1.3rem;
}

.friendCodeInput {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border-radius: 15px;
  border: none;
  text-align: center;
  color: black;
}

.inviteBtn {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 15px;
  font-size: 1.2rem;
  font-family: "Recursive", sans-serif;
  background-color: #6559a2;
  color: white;
  border: 3px solid white;
  cursor: pointer;
}

.inviteBtnPara {
  transition: .5s color ease-out;
}

.wavingHandIcon {
  transition: .5s filter ease-out;
  width: 25px;
  height: 25px;
}

.inviteBtn:hover {
  background-color: white;
}

.inviteBtn:hover .inviteBtnPara {
  color: black;
}

.inviteBtn:hover .wavingHandIcon {
  filter: brightness(0%);
  animation: 1s waveHand ease-out infinite;
}

@keyframes waveHand {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(0deg);

  }
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}

