.loginForm {
  max-width: 450px;
  margin: 3rem auto;
}

.loginFieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: 15px;
  padding: 2rem 3rem;
}

.loginFieldset legend {
  font-size: 1.5rem;
  padding: 0 .5rem;
}

.formSubmitErrCont {
  margin: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation:  errorAnim 2s forwards linear;
}


.labelAndInputCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.labelAndInputCont input, .labelAndInputCont textarea {
  width: 100%;
  color: black;
  text-align: center;
  font-family: "Recursive", sans-serif;
  font-size: 1.3rem;
  background-color: white;
}

.btnCont {
  display: flex;
  justify-content: center;
}

.loginFormBtn {
  align-self: flex-end;
  color: black;
  font-family: "Recursive", sans-serif;
  width: 100%;
  background-color: #A1C2BD;
  border-radius: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  border: none;
  transition: .3s background-color;
}

.loginFormBtn:hover {
  transition: .3s background-color;
  background-color: white;
}

@keyframes errorAnim {
  from {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}