.msgForm {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.inputAndBtnCont {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.msgLabelHidden {
  display: none;
}