.myProfilePage {
  height: 100%;
  background-image: linear-gradient(#212121, #000000);
  padding: 0 0 2rem 0;
}

.myProfileMain {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.errorCont {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation:  errorAnim 2s forwards linear;
  z-index: 0;
  max-width: 300px;
}

.validationErrorsUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style-type: none;
  padding-left: 0;
  text-align: center;
}


.errorHeading {
  font-size: 1.5rem;
}

.errorMsg::first-letter {
  text-transform: uppercase;
}

.updateProfileModalBackground {
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.336);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.updateProfileModalCont {
  background-color: #708993;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem 1rem;
  max-width: 300px;
  text-align: center;
  border-radius: 15px;
  animation: .5s openModal ease-out forwards;
}

.exitUpdateModal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  border: none;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes errorAnim {
  from {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
