.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #708993;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  z-index: 300;
  box-shadow: 0px 0px 50px 0px black;
}

.copiedToClipCont {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: .5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  animation: .7s floatIn forwards;
  border-radius: 7px;
  border: 3px solid #A1C2BD;
  transition: 3s top ease-out;
}

.copiedToClipCont p, .copiedToClipCont button {
  color: black;
}

.copiedToClipCont button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: "Recursive", sans-serif;
  font-size: .9rem;
}

.closingAnim {
  animation: .7s floatOut forwards ease-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.notifAndProfileCont {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.notificationCont {
  position: relative;
}

.linksCont {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}

.linkIconCont {
  display: flex;
  gap: .2rem;
  align-items: center;
}

.loginRegisterCont {
  display: flex;
  gap: 1rem;
}

.myHomeLogoutCont {
  display: flex;
  gap: 1rem;
}

.notifBtn {
  background-color: transparent;
  font-family: "Recursive", sans-serif;
  border: none;
  cursor: pointer;
}

.profileCont {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profileImg {
  background-color: black;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  transition: .5s border ease-out;
}

.profileImg:hover {
  border: 2px solid #a1c2bd;
}


.copyFriendCodeBtn {
  background-color: transparent;
  border: none;
  display: flex;
  gap: .5rem;
  align-items: center;
  cursor: pointer;
  border: 2px solid #708993;
  border-radius: 7px;
  transition: border .2s ease-out;
}

.copyFriendCodeBtn:hover {
  border: 2px solid #b4bbb9;
  transition: border .2s ease-out;
}

@keyframes floatIn {
  from {
    top: -100%;
    opacity: 0;
  }

  to {
    top: 10%;
    opacity: 1;
  }
}

@keyframes floatOut {
  from {
    top: 10%;
  }

  50% {
    top: 30%;
    opacity: 1;
  }

  to {
    top: -120%;
    opacity: 0;
  }
}