.navbar {
  display: flex;
  justify-content: space-between;
}

.notifAndProfileCont {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.notificationCont {
  position: relative;
};



.linksCont {
  display: flex;
  gap: 1rem;
}

.profileCont {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.profileImg {
  border-radius: 50%;
  border: 1px solid black;
}