.notifDropdownCont {
  position: absolute;
  top: 0;
  left: -400%;
  background-color: #A1C2BD;
  border: 4px solid #6559a2;
  width: 200px;
  height: 40vh;
  color: black;
  padding: 1rem .5rem;
  border-radius: 15px;
  overflow-y: auto;
  animation: .3s openNotifCont ease-out;
  scrollbar-color: black #4e5f66;
}

.notifUl {
  list-style-type: none;
  padding: 0;
  z-index: 9999;
}

.notifUl li {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-bottom: 1px solid #19183B;
  padding: .5rem;
}

.friendReqBtnCont {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.notifFriendAcceptBtn, .notifFriendDenyBtn {
  padding: .5rem .5rem;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Recursive", sans-serif;
  border: 2px solid #4e5f66;
}

.notifFriendDenyBtn {
  background-color: #d1dbd9;
  color: black;
}


.dismissNotifBtn {
  background-color: #d1dbd9;
  color: black;
  border-radius: 7px;
  padding: .5rem 1rem;
  cursor: pointer;
  font-family: "Recursive", sans-serif;
  border: 2px solid #4e5f66;
  font-size: .8rem;
}

.notifFriendAcceptBtn {
  background-color: #19183B;
  color: white;
}

@keyframes openNotifCont {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}