
.optsMenuCont {
  z-index: 300;
  position: absolute;
  top: 0;
  background-color: #aed1cc;
  border: 3px solid #708993;
  padding: .5rem 1rem;
  border-radius: 15px;
  cursor: default;
  transform: translateX(-100%);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.optsMenuCont button {
  display: flex;
  gap: .5rem;
  align-items: center;
  background-color: #6559a2;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 30px;
  padding: .5rem 1rem;
  font-family: "Recursive", sans-serif;
  font-size: .7rem;
}

