.chatsAndOptsSidebar {
  padding: .5rem .5rem;
  grid-column: 1 / 2;
  grid-template-rows: 2 / 3;
  height: 100%;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.groupChatTitle {
}

.groupOptsUl {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.groupOptsLi {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: .5rem;
  border-bottom: 1px solid white;
  padding: 1rem;
}

.groupOptsBtn {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #a1c2bd;
  cursor: pointer;
  border: 3px solid #a1c2bd;
}

.deleteGroupBtn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #a1c2bd;
  cursor: pointer;
  border: 3px solid #a1c2bd;
  transition: 0.3s background-color ease-out, 0.3s border ease-out;
}

.deleteGroupBtn p {
  transition: 0.3s color ease-out;
}

.deleteGroupBtn:hover p {
  color: black;
}




.deleteGroupBtn {
  transition: .3s filter ease-out;

}

.memberOptsProfileImg {
  border: 3px solid black;
  box-sizing: content-box;
}

.deleteGroupBtn:hover img {
  filter: brightness(0%);
}

.deleteGroupBtn:hover img {
  filter: brightness(0%);

}

.deleteGroupBtn:hover {
  background-color: red;
  border: 3px solid #080808;
}





.groupActionBtns {
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
}

.settingsBtn, .addMemberBtn {
  background-color: #a1c2bd;
  border-radius: 50%;
  padding: 0.3rem;
  border: 3px solid #a1c2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.settingsBtn:hover img {
  animation: 2.5s spin forwards infinite .5s;

}

.optsModalBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.555);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.optsModal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #708993;
  border: 3px solid #a1c2bd;
  max-width: 500px;
  padding: 2rem 1rem;
  border-radius: 15px;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  animation: .3s openModal ease-out forwards;
}

.settingsModalHeader {
  text-align: center;
}

.closeOptsModalBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  border: none;

  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);

  }

  50% {
    transform: rotate(180deg);

  }

  75% {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}
