.modalBackground {
  background-color: rgba(0, 0, 0, 0.534);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.searchGroupModalCont {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 3px solid #aed1cc;
  max-width: 500px;
  width: 80%;
  background-color: #708993;
  padding: 2rem 1rem;
  border-radius: 15px;
  animation: .5s openModal ease-out forwards;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-color: black #4e5f66;

}

.searchGroupModalExitBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
}

.groupSearchLabelAndInputCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.groupSearchLabelAndInputCont label, .groupSearchLabelAndInputCont input {
  font-family: "Recursive", sans-serif;
  font-size: 1.2rem;
}

.groupSearchLabelAndInputCont input {
  padding: .5rem 1rem;
  color: black;
  text-align: center;
}

.searchInputButtonCont {
  display: flex;
  justify-content: start;
}

.groupSearchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 100%;
  background-color: #6559a2;
  border: 3px solid white;
  border-radius: 15px;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: .3s background-color ease-out;
}

.groupSearchBtn:hover {
  background-color: white;
}

.groupSearchBtn p {
  font-size: 1.3rem;
  color: white;
  transition: .3s color ease-out;
}

.groupSearchBtn img {
  transition: .3s filter ease-out;
}

.groupSearchBtn:hover img {
  filter: brightness(0%);
}

.groupSearchBtn:hover p {
  color: black;
}

.groupListSearchResCont {
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
  border-bottom: 1px solid black;
  scrollbar-color: black #4e5f66;
}

.joinGroupModalBackground {
  position: relative;
  background-color: rgba(0, 0, 0, 0.541);
  z-index: 301;
  width: 100%;
  height: 100%;
}

.joinGroupModalCont {
  z-index: 400;
  background-color: white;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #708993;
  border-radius: 15px;
  animation: .5s openModal ease-out forwards;

}

.groupImgAndParaCont{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.groupImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
}

.joinPara {
  font-size: 1.2rem;
  line-height: 1rem;
}

.joinOrNotBtnCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}



.joinOrNotBtnCont button {
  font-family: "Recursive", sans-serif;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.noJoinBtn {
  background-color: #E7F2EF;
  color: black;
  transition: .7s transform ease-out;
  border: 3px solid black;

}

.joinBtn {
  border: 3px solid white;
  background-color: #19183B;
  transition: .7s transform ease-out;
}

.noJoinBtn:hover {
  transform: scale(105%);

}

.joinBtn:hover {
  transform: scale(105%);
}


@keyframes openModal {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}