.userHomePage {
}



.userHomeMain {
  width: 100%;
  /* background-image: linear-gradient(to right, #212121, #000000);
  height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
}

.homeSidebarCont {
  position: absolute;
  transform: translateY(-1rem);
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.521);
}

.friendAsideBtn {
  display: none;

  background-color: green;
  padding: .5rem 1rem;
  border-radius: 7px;
}

.addFriendSearchGroupBtnsCont {
  margin: 1rem 1rem;
  display: flex;
  gap: 0.5rem;
}

.addFriendBtn,
.groupSearchBtn,
.createGroupBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-family: "Recursive", sans-serif;
  font-size: 1rem;
  background-color: #a1c2bd;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  border: 3px solid #a1c2bd;
  cursor: pointer;
  transition: 0.3s background-color ease-out, 0.3s color ease-out,
    0.3s fill ease-out;
}

.addFriendBtn:hover,
.groupSearchBtn:hover,
.createGroupBtn:hover {
  background-color: rgb(235, 235, 235);
}

.createGroupBtn:hover img,
.addFriendBtn:hover img,
.groupSearchBtn:hover img {
  filter: brightness(0%);
}

.addFriendBtn:hover p,
.groupSearchBtn:hover p,
.createGroupBtn:hover p {
  color: black;
}

.addFriendIcon,
.groupSearchImg,
.createGroupIcon {
  width: 25px;
  height: 25px;
}

.groupAndFriendCont {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr;
  margin: 0 1rem;
}

.friendListCont {
  width: 100%;
  height: 100%;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;
}

.groupsAside {
  width: 100%;
  height: 100%;
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-color: #e7f2ef #708993;
  scrollbar-width: thin;
}

@media (max-width: 600px) {
  .addFriendSearchGroupBtnsCont {
    justify-content: center;
  }

  .addFriendBtn,
  .groupSearchBtn,
  .createGroupBtn {
    font-size: 0.7rem;
  }

  .addFriendIcon,
  .groupSearchImg,
  .createGroupIcon {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 700px) {
    .homeSidebarCont {
    display: none;
  }
}

@media (max-width: 700px) {


  .addFriendSearchGroupBtnsCont {
  }
  
  .userHomePage {
  }

  .friendListCont {
    display: none;
  }

  .friendAsideBtn {
    display: block;
  }

  .userHomeMain {
    max-width: 700px;
    width: 100%;
  }

  .groupAndFriendCont {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    
  }

  .groupsAside {
    max-height: 40vh;
    overflow-y: auto;
    width: 100%;
    margin: 2rem 0;
  }



  .friendListCont {
    max-height: 40vh;
    overflow-y: auto;
    width: 100%;
    margin: 2rem 0;
  }
}
